.member-card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(224, 224, 224, 0.69) 1px 1px 6px 1px;
  padding: 15px;
  margin-bottom: 10px;
  width: 48%;
  background-color: #ffffff4f;
  border-radius: 18px;
}
