.member-card {
  margin-left: auto;
  margin-right: auto;
  box-shadow: $box-shadow;
  padding: 16px;
  margin-bottom: 20px;
  width: 48%;
  background-color: #ffffffc9;
  border-radius: 3px;
}

.record .card-header {
  margin-bottom: -8px;
}

.record-release {
  font-size: 0.72rem;
  font-style: italic;
  display: inline;
  color: #d0d0d0;
}
