.toast-bottom {
  position: absolute;
  bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  left: 0;
  right: 0;
}

.toast {
  margin-top: 5px;
}

.unlocked-medal {
  position: absolute;
  right: 0;
  bottom: 0;
}
.medal-shadow {
  box-shadow: -1px -1px 2px #999999;
}
