.left-space-1 {
  margin-left: 0.15rem;
}

.spaced button {
  margin-bottom: 5px;
}

.spaced a {
  margin-bottom: 5px;
}

.full-width {
  width: 100%;
}

.width-190 {
  width: 190px;
}

.small-top-margin {
  margin-top: -10px;
}

.skill-number {
  margin-left: 8px;
  margin-right: 8px;
}
